In [1]:
import pandas as pd
import requests
import numpy as np
from bs4 import BeautifulSoup
import re 
import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline
!pip install seaborn
import seaborn as sns
matplotlib.rcParams['pdf.fonttype'] = 42
import matplotlib.dates as mdates
from matplotlib.dates import DateFormatter
from pandas.plotting import register_matplotlib_converters
register_matplotlib_converters()

Requirement already satisfied: seaborn in /Users/tongxucai/.pyenv/versions/3.6.5/lib/python3.6/site-packages
Requirement already satisfied: matplotlib>=1.4.3 in /Users/tongxucai/.pyenv/versions/3.6.5/lib/python3.6/site-packages (from seaborn)
Requirement already satisfied: scipy>=0.14.0 in /Users/tongxucai/.pyenv/versions/3.6.5/lib/python3.6/site-packages (from seaborn)
Requirement already satisfied: pandas>=0.15.2 in /Users/tongxucai/.pyenv/versions/3.6.5/lib/python3.6/site-packages (from seaborn)
Requirement already satisfied: numpy>=1.9.3 in /Users/tongxucai/.pyenv/versions/3.6.5/lib/python3.6/site-packages (from seaborn)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /Users/tongxucai/.pyenv/versions/3.6.5/lib/python3.6/site-packages (from matplotlib>=1.4.3->seaborn)
Requirement already satisfied: kiwisolver>=1.0.1 in /Users/tongxucai/.pyenv/versions/3.6.5/lib/python3.6/site-packages (from matplotlib>=1.4.3->seaborn)
Requirement already satisfied: cycler>=0.10 in /Users/tongxucai/.pyenv/versions/3.6.5/lib/python3.6/site-packages (from matplotlib>=1.4.3->seaborn)
Requirement already satisfied: python-dateutil>=2.1 in /Users/tongxucai/.pyenv/versions/3.6.5/lib/python3.6/site-packages (from matplotlib>=1.4.3->seaborn)
Requirement already satisfied: pytz>=2017.2 in /Users/tongxucai/.pyenv/versions/3.6.5/lib/python3.6/site-packages (from pandas>=0.15.2->seaborn)
Requirement already satisfied: setuptools in /Users/tongxucai/.pyenv/versions/3.6.5/lib/python3.6/site-packages (from kiwisolver>=1.0.1->matplotlib>=1.4.3->seaborn)
Requirement already satisfied: six in /Users/tongxucai/.pyenv/versions/3.6.5/lib/python3.6/site-packages (from cycler>=0.10->matplotlib>=1.4.3->seaborn)
You are using pip version 9.0.3, however version 19.3.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [12]:
df=pd.read_csv('skyscrapers.csv',encoding='latin-1')

,City,Country,All\nBuildings,100m+,150m+,200m+,300m+,Telecom\nTowers,All\nStructures
0,Hong Kong,China,923,644,355,66,6,0,923
1,New York City,United States,"1,549",861,281,80,11,2,"1,557"
2,Shenzhen,China,279,251,226,84,11,0,279
3,Dubai,United Arab Emirates,467,317,193,83,23,1,468
4,Shanghai,China,416,213,162,55,5,2,418

In [16]:
df.rename(columns={'All\nBuildings':'AllBuildings',
                   'Telecom\nTowers':'TelecomTowers',
                   'All\nStructures':'AllStructures'}, inplace=True)
df['AllBuildings'] = df['AllBuildings'].replace({'\,':''}, regex = True)
df['AllStructures'] = df['AllStructures'].replace({'\,':''}, regex = True)
df.head(10)

,City,Country,AllBuildings,100m+,150m+,200m+,300m+,TelecomTowers,AllStructures
0,Hong Kong,China,923,644,355,66,6,0,923
1,New York City,United States,1549,861,281,80,11,2,1557
2,Shenzhen,China,279,251,226,84,11,0,279
3,Dubai,United Arab Emirates,467,317,193,83,23,1,468
4,Shanghai,China,416,213,162,55,5,2,418
5,Tokyo,Japan,404,329,155,27,0,2,407
6,Chicago,United States,572,327,126,31,6,2,574
7,Chongqing,China,155,145,119,39,2,0,155
8,Guangzhou,China,175,137,115,35,10,1,177
9,Jakarta,Indonesia,410,153,91,40,0,1,411

# combine city value count with city gdp

In [23]:
df2=pd.read_csv(
    '/Users/tongxucai/Documents/datajournalism/fall/skyscrapers/city_GDP.csv',
    encoding='latin-1',
    na_values=[' '])
df2=df2[['City/Metropolitan area','Official est.\nNominal\nGDP ($BN)']]
df2.head(4)

     City/Metropolitan area Official est.\nNominal\nGDP ($BN)
0  Aachen-LiÃ¨ge-Maastricht                               NaN
1                  Aberdeen                    11.3 (2008)[5]
2                   Abidjan                               NaN
3                 Abu Dhabi                            119[6]

In [25]:
df2.rename(columns={'City/Metropolitan area':'City'}, inplace=True)

In [28]:
join=df.merge(df2, how='inner',on=['City'],left_index=True,right_index=True)
join

,City,Country,AllBuildings,100m+,150m+,200m+,300m+,TelecomTowers,AllStructures,Official est.\nNominal\nGDP ($BN)
0,Hong Kong,China,923,644,355,66,6,0,923,NaN
1,New York City,United States,1549,861,281,80,11,2,1557,11.3 (2008)[5]
2,Shenzhen,China,279,251,226,84,11,0,279,NaN
3,Dubai,United Arab Emirates,467,317,193,83,23,1,468,119[6]
4,Shanghai,China,416,213,162,55,5,2,418,NaN
5,Tokyo,Japan,404,329,155,27,0,2,407,59.1 (2015â16)[7]
6,Chicago,United States,572,327,126,31,6,2,574,NaN
7,Chongqing,China,155,145,119,39,2,0,155,37.300 (2016)[8]
8,Guangzhou,China,175,137,115,35,10,1,177,52.339 (2016)[8]
9,Jakarta,Indonesia,410,153,91,40,0,1,411,43.250 (2016)[8]
10,Bangkok,Thailand,171,118,90,20,3,1,172,NaN
11,Singapore,Singapore,234,147,89,33,0,1,235,NaN
12,Shenyang,China,93,92,85,20,2,1,94,42.700 (2016)[8]
13,Chengdu,China,105,96,81,20,0,1,106,NaN
14,Seoul,South Korea,162,140,80,17,1,1,163,154.0 (2015)[9]
15,Kuala Lumpur,Malaysia,119,89,70,33,5,1,122,6.740 (2011)[10]
16,Wuhan,China,92,74,65,31,3,1,93,NaN
17,Toronto,Canada,532,265,63,20,0,1,534,NaN
18,Busan,South Korea,87,77,58,18,1,1,88,27.9 (2016)[9]
19,Nanjing,China,70,68,55,25,3,1,71,93.7 (2015)[9]
20,Tianjin,China,58,56,54,26,3,1,60,385.542 (2017)[8]
21,Miami,United States,147,114,53,7,0,1,148,NaN
22,Panama City,Panama,84,69,52,23,0,0,84,148.750 (2017)[8]
23,Nanning,China,265,127,51,25,3,0,265,35.162 (2016)[8]
24,Istanbul,Turkey,121,97,45,6,0,1,122,NaN
25,Melbourne,Australia,257,134,45,15,0,4,261,192.178 (2017)[8]
26,Makati,Philippines,70,62,44,15,0,0,70,20 (2017)[12]
27,Mumbai,India,143,81,44,6,0,1,144,NaN
28,Beijing,China,132,67,43,18,2,3,135,NaN
29,Moscow,Russia,222,173,43,15,5,3,225,40.8 (2017)[13]
...,...,...,...,...,...,...,...,...,...,...
170,Ordos,China,13,11,3,0,0,0,13,37.6 (2015)[9]
171,Puteaux,France,22,16,3,0,0,0,22,37.9 (2015)[9]
172,Ramat Gan,Israel,9,8,3,1,0,0,9,10.0 (2016)[30]
173,Rio de Janeiro,Brazil,65,30,3,0,0,0,65,NaN
174,San Diego,United States,38,33,3,0,0,0,38,20 (2016)[31]
175,St. Louis,United States,36,10,3,0,0,1,37,17.7 (2016)[9]
176,Vancouver,Canada,221,56,3,1,0,0,221,NaN
177,Vienna,Austria,43,13,3,2,0,1,46,6.0 (2016)[32]
178,Wuhu,China,3,3,3,1,0,0,3,39.825 (2016)[8]
179,Yekaterinburg,Russia,218,12,3,1,0,0,218,NaN
180,Zhenjiang,China,3,3,3,2,1,0,3,NaN
181,Al Fujayrah,United Arab Emirates,2,2,2,0,0,0,2,NaN
182,Anyang,South Korea,2,2,2,0,0,0,2,72.0 (2017)[13]
183,Atlantic City,United States,32,11,2,1,0,0,32,NaN
184,Auckland,New Zealand,51,13,2,0,0,1,52,74.67 (2010)[33]
185,Barcelona,Spain,40,7,2,0,0,1,41,58.14 (2015)[34][35]
186,Barranquilla,Colombia,2,2,2,0,0,0,2,112.288 (2017)[8]
187,Batumi,Georgia,7,4,2,1,0,1,8,44.8 (2016)[9]
188,Beirut,Lebanon,31,16,2,0,0,0,31,46.8 (2016)[9]
189,Benidorm,Spain,31,25,2,0,0,0,31,33.4 (2015)[9]
190,Bucheon,South Korea,2,2,2,2,0,0,2,83.3 (2015)[9]
191,Changwon,South Korea,6,2,2,0,0,0,6,NaN
192,Curitiba,Brazil,22,12,2,0,0,0,22,37.9 (2015)[9]
193,Da Nang,Vietnam,4,4,2,0,0,0,4,72.0 (2015)[9]
194,Edmonton,Canada,30,21,2,1,0,0,30,37.796 (2016)[8]
195,Fort Lee,United States,20,3,2,0,0,0,20,47.8 (2016)[9]
196,Guadalajara,Mexico,9,6,2,1,0,0,9,595.7 (2016)[37]
197,Huzhou,China,3,3,2,2,0,0,3,"1,043.735 (2017)[38]"
198,Hyderabad,India,6,5,2,0,0,0,6,74.968 (2016)[8]
199,Jacksonville,United States,9,6,2,0,0,0,9,NaN

In [29]:
join.rename(columns={'Official est.\nNominal\nGDP ($BN)':'NominalGDP'}, inplace=True)
join

,City,Country,AllBuildings,100m+,150m+,200m+,300m+,TelecomTowers,AllStructures,NominalGDP
0,Hong Kong,China,923,644,355,66,6,0,923,NaN
1,New York City,United States,1549,861,281,80,11,2,1557,11.3 (2008)[5]
2,Shenzhen,China,279,251,226,84,11,0,279,NaN
3,Dubai,United Arab Emirates,467,317,193,83,23,1,468,119[6]
4,Shanghai,China,416,213,162,55,5,2,418,NaN
5,Tokyo,Japan,404,329,155,27,0,2,407,59.1 (2015â16)[7]
6,Chicago,United States,572,327,126,31,6,2,574,NaN
7,Chongqing,China,155,145,119,39,2,0,155,37.300 (2016)[8]
8,Guangzhou,China,175,137,115,35,10,1,177,52.339 (2016)[8]
9,Jakarta,Indonesia,410,153,91,40,0,1,411,43.250 (2016)[8]
10,Bangkok,Thailand,171,118,90,20,3,1,172,NaN
11,Singapore,Singapore,234,147,89,33,0,1,235,NaN
12,Shenyang,China,93,92,85,20,2,1,94,42.700 (2016)[8]
13,Chengdu,China,105,96,81,20,0,1,106,NaN
14,Seoul,South Korea,162,140,80,17,1,1,163,154.0 (2015)[9]
15,Kuala Lumpur,Malaysia,119,89,70,33,5,1,122,6.740 (2011)[10]
16,Wuhan,China,92,74,65,31,3,1,93,NaN
17,Toronto,Canada,532,265,63,20,0,1,534,NaN
18,Busan,South Korea,87,77,58,18,1,1,88,27.9 (2016)[9]
19,Nanjing,China,70,68,55,25,3,1,71,93.7 (2015)[9]
20,Tianjin,China,58,56,54,26,3,1,60,385.542 (2017)[8]
21,Miami,United States,147,114,53,7,0,1,148,NaN
22,Panama City,Panama,84,69,52,23,0,0,84,148.750 (2017)[8]
23,Nanning,China,265,127,51,25,3,0,265,35.162 (2016)[8]
24,Istanbul,Turkey,121,97,45,6,0,1,122,NaN
25,Melbourne,Australia,257,134,45,15,0,4,261,192.178 (2017)[8]
26,Makati,Philippines,70,62,44,15,0,0,70,20 (2017)[12]
27,Mumbai,India,143,81,44,6,0,1,144,NaN
28,Beijing,China,132,67,43,18,2,3,135,NaN
29,Moscow,Russia,222,173,43,15,5,3,225,40.8 (2017)[13]
...,...,...,...,...,...,...,...,...,...,...
170,Ordos,China,13,11,3,0,0,0,13,37.6 (2015)[9]
171,Puteaux,France,22,16,3,0,0,0,22,37.9 (2015)[9]
172,Ramat Gan,Israel,9,8,3,1,0,0,9,10.0 (2016)[30]
173,Rio de Janeiro,Brazil,65,30,3,0,0,0,65,NaN
174,San Diego,United States,38,33,3,0,0,0,38,20 (2016)[31]
175,St. Louis,United States,36,10,3,0,0,1,37,17.7 (2016)[9]
176,Vancouver,Canada,221,56,3,1,0,0,221,NaN
177,Vienna,Austria,43,13,3,2,0,1,46,6.0 (2016)[32]
178,Wuhu,China,3,3,3,1,0,0,3,39.825 (2016)[8]
179,Yekaterinburg,Russia,218,12,3,1,0,0,218,NaN
180,Zhenjiang,China,3,3,3,2,1,0,3,NaN
181,Al Fujayrah,United Arab Emirates,2,2,2,0,0,0,2,NaN
182,Anyang,South Korea,2,2,2,0,0,0,2,72.0 (2017)[13]
183,Atlantic City,United States,32,11,2,1,0,0,32,NaN
184,Auckland,New Zealand,51,13,2,0,0,1,52,74.67 (2010)[33]
185,Barcelona,Spain,40,7,2,0,0,1,41,58.14 (2015)[34][35]
186,Barranquilla,Colombia,2,2,2,0,0,0,2,112.288 (2017)[8]
187,Batumi,Georgia,7,4,2,1,0,1,8,44.8 (2016)[9]
188,Beirut,Lebanon,31,16,2,0,0,0,31,46.8 (2016)[9]
189,Benidorm,Spain,31,25,2,0,0,0,31,33.4 (2015)[9]
190,Bucheon,South Korea,2,2,2,2,0,0,2,83.3 (2015)[9]
191,Changwon,South Korea,6,2,2,0,0,0,6,NaN
192,Curitiba,Brazil,22,12,2,0,0,0,22,37.9 (2015)[9]
193,Da Nang,Vietnam,4,4,2,0,0,0,4,72.0 (2015)[9]
194,Edmonton,Canada,30,21,2,1,0,0,30,37.796 (2016)[8]
195,Fort Lee,United States,20,3,2,0,0,0,20,47.8 (2016)[9]
196,Guadalajara,Mexico,9,6,2,1,0,0,9,595.7 (2016)[37]
197,Huzhou,China,3,3,2,2,0,0,3,"1,043.735 (2017)[38]"
198,Hyderabad,India,6,5,2,0,0,0,6,74.968 (2016)[8]
199,Jacksonville,United States,9,6,2,0,0,0,9,NaN

In [30]:
join.to_csv('city_skyscrapers_GDP.csv')

In [82]:
chinacity=pd.read_csv('China_city_gdp.csv',encoding='latin-1')
chinacity.head(3)

       City         GDP
0  Shanghai  CNY 1641bn
1   Beijing  CNY 1521bn
2  Shenzhen  CNY 1213bn

In [83]:
chinacity['GDP']=chinacity['GDP'].str[3:]
chinacity['GDP']

0      1641bn
1      1521bn
2      1213bn
3      1176bn
4      1037bn
       ...
95        0bn
96      127bn
97      127bn
98        0bn
99      121bn
Name: GDP, Length: 100, dtype: object

In [84]:
chinacity['GDP']=chinacity['GDP'].str[:-2]
chinacity.head(3)

       City    GDP
0  Shanghai   1641
1   Beijing   1521
2  Shenzhen   1213

In [85]:
addchinacitygdp=join.merge(chinacity, how='inner',on=['City'],left_index=True,right_index=True)
addchinacitygdp.head(3)

,City,Country,AllBuildings,100m+,150m+,200m+,300m+,TelecomTowers,AllStructures,NominalGDP,GDP
0,Hong Kong,China,923,644,355,66,6,0,923,NaN,1641
1,New York City,United States,1549,861,281,80,11,2,1557,11.3 (2008)[5],1521
2,Shenzhen,China,279,251,226,84,11,0,279,NaN,1213

In [86]:
addchinacitygdp=addchinacitygdp.drop('NominalGDP', axis=1)
addchinacitygdp

,City,Country,AllBuildings,100m+,150m+,200m+,300m+,TelecomTowers,AllStructures,GDP
0,Hong Kong,China,923,644,355,66,6,0,923,1641
1,New York City,United States,1549,861,281,80,11,2,1557,1521
2,Shenzhen,China,279,251,226,84,11,0,279,1213
3,Dubai,United Arab Emirates,467,317,193,83,23,1,468,1176
4,Shanghai,China,416,213,162,55,5,2,418,1037
5,Tokyo,Japan,404,329,155,27,0,2,407,1033
6,Chicago,United States,572,327,126,31,6,2,574,955
7,Chongqing,China,155,145,119,39,2,0,155,770
8,Guangzhou,China,175,137,115,35,10,1,177,748
9,Jakarta,Indonesia,410,153,91,40,0,1,411,695
10,Bangkok,Thailand,171,118,90,20,3,1,172,674
11,Singapore,Singapore,234,147,89,33,0,1,235,655
12,Shenyang,China,93,92,85,20,2,1,94,596
13,Chengdu,China,105,96,81,20,0,1,106,554
14,Seoul,South Korea,162,140,80,17,1,1,163,542
15,Kuala Lumpur,Malaysia,119,89,70,33,5,1,122,511
16,Wuhan,China,92,74,65,31,3,1,93,480
17,Toronto,Canada,532,265,63,20,0,1,534,479
18,Busan,South Korea,87,77,58,18,1,1,88,458
19,Nanjing,China,70,68,55,25,3,1,71,422
20,Tianjin,China,58,56,54,26,3,1,60,417
21,Miami,United States,147,114,53,7,0,1,148,414
22,Panama City,Panama,84,69,52,23,0,0,84,401
23,Nanning,China,265,127,51,25,3,0,265,377
24,Istanbul,Turkey,121,97,45,6,0,1,122,375
25,Melbourne,Australia,257,134,45,15,0,4,261,367
26,Makati,Philippines,70,62,44,15,0,0,70,354
27,Mumbai,India,143,81,44,6,0,1,144,353
28,Beijing,China,132,67,43,18,2,3,135,339
29,Moscow,Russia,222,173,43,15,5,3,225,338
...,...,...,...,...,...,...,...,...,...,...
70,Pyongyang,North Korea,59,49,14,5,0,1,60,168
71,Taipei,China,41,37,14,5,1,0,41,160
72,Manama,Bahrain,19,16,13,5,0,0,19,160
73,Philadelphia,United States,188,57,13,7,1,1,190,156
74,SÃ£o Paulo,Brazil,300,93,13,0,0,0,300,150
75,Taichung,China,21,21,13,0,0,0,21,149
76,Tel Aviv,Israel,64,47,13,1,0,0,64,148
77,Xiâan,China,21,14,13,8,0,1,22,148
78,Courbevoie,France,25,23,12,1,0,0,25,146
79,Pattaya,Thailand,21,16,12,2,0,0,21,145
80,Sharjah,United Arab Emirates,46,14,12,4,0,0,46,144
81,Bogota,Colombia,16,15,11,1,0,0,16,143
82,Buenos Aires,Argentina,82,70,11,1,0,0,82,141
83,Jersey City,United States,70,31,11,2,0,0,70,141
84,Kolkata,India,20,12,11,0,0,0,20,135
85,Lanzhou,China,12,11,11,4,1,0,12,0
86,Nagoya,Japan,12,11,11,4,0,1,13,134
87,Zhengzhou,China,12,11,11,6,0,1,14,0
88,Daejeon,South Korea,14,10,10,0,0,0,14,133
89,Dongguan,China,13,10,10,6,0,0,13,133
90,Kawasaki,Japan,17,17,10,1,0,0,17,132
91,Montreal,Canada,54,47,10,2,0,1,56,131
92,Pittsburgh,United States,53,26,10,2,0,1,54,0
93,Taguig City,Philippines,43,25,10,3,0,0,43,130
94,Guiyang,China,12,12,9,7,0,0,12,127
95,Hanoi,Vietnam,34,21,9,4,1,0,34,0
96,Minneapolis,United States,55,27,9,4,0,1,56,127
97,Shijiazhuang,China,16,15,9,3,0,1,17,127
98,Sunny Isles Beach,United States,26,24,9,0,0,0,26,0
99,Balneario Camboriu,Brazil,38,21,8,0,0,0,38,121

In [91]:
addchinacitygdp['GDP']=addchinacitygdp['GDP'].astype(int)
addchinacitygdp['GDP']

0     1641
1     1521
2     1213
3     1176
4     1037
      ...
95       0
96     127
97     127
98       0
99     121
Name: GDP, Length: 100, dtype: int64

In [92]:
addchinacitygdp['GDP']=addchinacitygdp['GDP']/7
addchinacitygdp['GDP']

0     234.428571
1     217.285714
2     173.285714
3     168.000000
4     148.142857
         ...
95      0.000000
96     18.142857
97     18.142857
98      0.000000
99     17.285714
Name: GDP, Length: 100, dtype: float64

In [96]:
addchinacitygdp.to_csv('firsttry.csv')

# integrate chinese cities' gdp

In [48]:
china=pd.read_csv('chinacitygdp.csv')

In [49]:
china.head(2)

    Province GDP_usd_millions       city
0      Macau           50,559      Macau
1  Hong Kong          341,679  Hong Kong

In [51]:
china.rename(columns={'city':'City'}, inplace=True)

In [52]:
china.head(2)

    Province GDP_usd_millions       City
0      Macau           50,559      Macau
1  Hong Kong          341,679  Hong Kong

In [53]:
china.to_csv('chinacitygdp.csv')

In [55]:
firsttry=pd.read_csv('firsttry.csv')

In [95]:
addchina=pd.merge(firsttry,china, how='left',on='City')
addchina.head(5)

,City,Country,AllBuildings,100m+,150m+,200m+,300m+,400+,500+,600+,TelecomTowers,AllStructures,Province,GDP_usd_millions
0,Hong Kong,China,923.0,644.0,355.0,66.0,10,3.0,1.0,NaN,0.0,923.0,Hong Kong,"341,679"
1,Mecca,Saudi Arabia,7.0,7.0,7.0,7.0,2,2.0,1.0,1.0,NaN,7.0,NaN,NaN
2,Jeddah,Saudi Arabia,14.0,9.0,6.0,2.0,7,3.0,1.0,1.0,2.0,16.0,NaN,NaN
3,Riyadh,Saudi Arabia,39.0,27.0,17.0,9.0,6,7.0,NaN,NaN,0.0,39.0,NaN,NaN
4,New York City,United States,1549.0,861.0,281.0,80.0,30,8.0,1.0,NaN,2.0,1557.0,NaN,NaN

In [96]:
addchina.to_csv('firsttry.csv')

# add U.S. city GDP

In [58]:
US=pd.read_excel('US_city_gdp.xlsx')
US.head(5)

                         Metropolitan area 2017  million_chained_2009_usd
0         New York-Newark-Jersey City, NY-NJ-PA                   1444484
1            Los Angeles-Long Beach-Anaheim, CA                    904899
2            Chicago-Naperville-Elgin, IL-IN-WI                    583137
3               Dallas-Fort Worth-Arlington, TX                    479678
4  Washington-Arlington-Alexandria, DC-VA-MD-WV                    460026

In [61]:
US['Metropolitan area 2017'].str[:-3]

0            New York-Newark-Jersey City, NY-NJ
1               Los Angeles-Long Beach-Anaheim,
2               Chicago-Naperville-Elgin, IL-IN
3                  Dallas-Fort Worth-Arlington,
4     Washington-Arlington-Alexandria, DC-VA-MD
                        ...
95                                   Anchorage,
96                       Cape Coral-Fort Myers,
97                                 Springfield,
98                               Stockton-Lodi,
99                              Chattanooga, TN
Name: Metropolitan area 2017, Length: 100, dtype: object

In [62]:
US['Metropolitan area 2017'] = US['Metropolitan area 2017'].replace({'\,':'-'}, regex = True)
US['Metropolitan area 2017']

0            New York-Newark-Jersey City- NY-NJ-PA
1               Los Angeles-Long Beach-Anaheim- CA
2               Chicago-Naperville-Elgin- IL-IN-WI
3                  Dallas-Fort Worth-Arlington- TX
4     Washington-Arlington-Alexandria- DC-VA-MD-WV
                          ...
95                                   Anchorage- AK
96                       Cape Coral-Fort Myers- FL
97                                 Springfield- MA
98                               Stockton-Lodi- CA
99                              Chattanooga- TN-GA
Name: Metropolitan area 2017, Length: 100, dtype: object

In [69]:
US['Metropolitan area 2017']=US['Metropolitan area 2017'].str.extract('^([A-Z][a-z]+\s?[A-Z]?[a-z]+)\-')
US['Metropolitan area 2017']

0        New York
1     Los Angeles
2         Chicago
3          Dallas
4      Washington
         ...
95      Anchorage
96     Cape Coral
97    Springfield
98       Stockton
99    Chattanooga
Name: Metropolitan area 2017, Length: 100, dtype: object

In [70]:
US.head(10)

  Metropolitan area 2017  million_chained_2009_usd
0               New York                   1444484
1            Los Angeles                    904899
2                Chicago                    583137
3                 Dallas                    479678
4             Washington                    460026
5                Houston                    436369
6          San Francisco                    425358
7           Philadelphia                    387217
8                 Boston                    379499
9                Atlanta                    334488

In [72]:
US.to_csv('UScitygdpcleaned.csv')

In [74]:
UScity=pd.read_csv('UScitygdpcleaned.csv')
UScity.head(5)

  Metropolitan area 2017  million_chained_2009_usd
0               New York                   1444484
1            Los Angeles                    904899
2                Chicago                    583137
3                 Dallas                    479678
4             Washington                    460026

In [78]:
UScity.rename(columns={'Metropolitan area 2017':'City',
                       'million_chained_2009_usd':'GDP_usd_millions'}, inplace=True)
UScity.head(5)

          City  GDP_usd_millions
0     New York           1444484
1  Los Angeles            904899
2      Chicago            583137
3       Dallas            479678
4   Washington            460026

In [133]:
secondtry=pd.read_csv('firsttry.csv')

In [134]:
secondtry[["GDP_usd_millions","City"]][secondtry["Country"]=="United States"]

    GDP_usd_millions               City
4                NaN      New York City
9                NaN            Chicago
25               NaN              Miami
37               NaN            Houston
45               NaN        Los Angeles
48               NaN      San Francisco
54               NaN            Seattle
55               NaN             Boston
56               NaN             Dallas
61               NaN            Atlanta
73               NaN          Las Vegas
77               NaN       Philadelphia
87               NaN        Jersey City
96               NaN         Pittsburgh
100              NaN        Minneapolis
102              NaN  Sunny Isles Beach

In [136]:
tmp = secondtry.merge(UScity[["City","GDP_usd_millions"]],on="City",how="left")
tmp["GDP_usd_millions_x"][tmp["GDP_usd_millions_x"].isnull()] = tmp["GDP_usd_millions_y"][tmp["GDP_usd_millions_x"].isnull()]
tmp

/Users/tongxucai/.pyenv/versions/3.6.5/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Unnamed: 0,City,Country,AllBuildings,100m+,150m+,200m+,300m+,400+,500+,600+,TelecomTowers,AllStructures,Province,GDP_usd_millions_x,GDP_usd_millions_y
0,0,Hong Kong,China,923.0,644.0,355.0,66.0,10,3.0,1.0,NaN,0.0,923.0,Hong Kong,"341,679",NaN
1,1,Mecca,Saudi Arabia,7.0,7.0,7.0,7.0,2,2.0,1.0,1.0,NaN,7.0,NaN,NaN,NaN
2,2,Jeddah,Saudi Arabia,14.0,9.0,6.0,2.0,7,3.0,1.0,1.0,2.0,16.0,NaN,NaN,NaN
3,3,Riyadh,Saudi Arabia,39.0,27.0,17.0,9.0,6,7.0,NaN,NaN,0.0,39.0,NaN,NaN,NaN
4,4,New York City,United States,1549.0,861.0,281.0,80.0,30,8.0,1.0,NaN,2.0,1557.0,NaN,NaN,NaN
5,5,Shenzhen,China,279.0,251.0,226.0,106.0,21,3.0,1.0,NaN,0.0,279.0,Guangdong,"333,097",NaN
6,6,Dubai,United Arab Emirates,467.0,317.0,193.0,83.0,32,5.0,1.0,1.0,1.0,468.0,NaN,NaN,NaN
7,7,Shanghai,China,416.0,213.0,162.0,55.0,12,5.0,1.0,1.0,2.0,418.0,Shanghai,"453,701",NaN
8,8,Tokyo,Japan,404.0,329.0,155.0,27.0,0,NaN,NaN,NaN,2.0,407.0,NaN,NaN,NaN
9,9,Chicago,United States,572.0,327.0,126.0,31.0,8,3.0,1.0,NaN,2.0,574.0,NaN,583137,583137.0
10,10,Chongqing,China,155.0,145.0,119.0,39.0,8,2.0,NaN,NaN,0.0,155.0,NaN,NaN,NaN
11,11,Guangzhou,China,175.0,137.0,115.0,35.0,14,3.0,1.0,NaN,1.0,177.0,Guangdong,"318,480",NaN
12,12,Paris,France,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,13,Jakarta,Indonesia,410.0,153.0,91.0,40.0,5,NaN,NaN,NaN,1.0,411.0,NaN,NaN,NaN
14,14,Bangkok,Thailand,171.0,118.0,90.0,20.0,5,1.0,NaN,NaN,1.0,172.0,NaN,NaN,NaN
15,15,Singapore,Singapore,234.0,147.0,89.0,33.0,0,NaN,NaN,NaN,1.0,235.0,NaN,NaN,NaN
16,16,Shenyang,China,93.0,92.0,85.0,37.0,5,NaN,NaN,NaN,1.0,94.0,NaN,NaN,NaN
17,17,Chengdu,China,105.0,96.0,81.0,20.0,4,2.0,NaN,NaN,1.0,106.0,NaN,NaN,NaN
18,18,Seoul,South Korea,162.0,140.0,80.0,17.0,3,2.0,1.0,NaN,1.0,163.0,NaN,NaN,NaN
19,19,Kuala Lumpur,Malaysia,119.0,89.0,70.0,33.0,15,8.0,1.0,2.0,1.0,122.0,NaN,NaN,NaN
20,20,Wuhan,China,92.0,74.0,65.0,31.0,10,4.0,1.0,1.0,1.0,93.0,NaN,NaN,NaN
21,21,Toronto,Canada,532.0,265.0,63.0,20.0,1,NaN,NaN,NaN,1.0,534.0,NaN,NaN,NaN
22,22,Busan,South Korea,87.0,77.0,58.0,18.0,3,2.0,1.0,NaN,1.0,88.0,NaN,NaN,NaN
23,23,Nanjing,China,70.0,68.0,55.0,25.0,10,3.0,1.0,NaN,1.0,71.0,Jiangsu,"173,511",NaN
24,24,Tianjin,China,58.0,56.0,54.0,26.0,11,5.0,2.0,NaN,1.0,60.0,Tianjin,"274,730",NaN
25,25,Miami,United States,147.0,114.0,53.0,7.0,0,NaN,NaN,NaN,1.0,148.0,NaN,296486,296486.0
26,26,Panama City,Panama,84.0,69.0,52.0,23.0,0,NaN,NaN,NaN,0.0,84.0,NaN,NaN,NaN
27,27,Nanning,China,265.0,127.0,51.0,30.0,4,1.0,NaN,NaN,0.0,265.0,NaN,NaN,NaN
28,28,Istanbul,Turkey,121.0,97.0,45.0,6.0,0,NaN,NaN,NaN,1.0,122.0,NaN,NaN,NaN
29,29,Melbourne,Australia,257.0,134.0,45.0,15.0,1,NaN,NaN,NaN,4.0,261.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74,74,Pyongyang,North Korea,59.0,49.0,14.0,5.0,1,NaN,NaN,NaN,1.0,60.0,NaN,NaN,NaN
75,75,Taipei,China,41.0,37.0,14.0,5.0,1,NaN,NaN,NaN,0.0,41.0,NaN,NaN,NaN
76,76,Manama,Bahrain,19.0,16.0,13.0,5.0,0,NaN,NaN,NaN,0.0,19.0,NaN,NaN,NaN
77,77,Philadelphia,United States,188.0,57.0,13.0,7.0,1,NaN,NaN,NaN,1.0,190.0,NaN,387217,387217.0
78,78,SÃ£o Paulo,Brazil,300.0,93.0,13.0,0.0,0,NaN,NaN,NaN,0.0,300.0,NaN,NaN,NaN
79,79,Taichung,China,21.0,21.0,13.0,0.0,0,NaN,NaN,NaN,0.0,21.0,NaN,NaN,NaN
80,80,Tel Aviv,Israel,64.0,47.0,13.0,1.0,0,NaN,NaN,NaN,0.0,64.0,NaN,NaN,NaN
81,81,Xiâan,China,21.0,14.0,13.0,8.0,0,NaN,NaN,NaN,1.0,22.0,NaN,NaN,NaN
82,82,Courbevoie,France,25.0,23.0,12.0,1.0,0,NaN,NaN,NaN,0.0,25.0,NaN,NaN,NaN
83,83,Pattaya,Thailand,21.0,16.0,12.0,2.0,0,NaN,NaN,NaN,0.0,21.0,NaN,NaN,NaN
84,84,Sharjah,United Arab Emirates,46.0,14.0,12.0,4.0,0,NaN,NaN,NaN,0.0,46.0,NaN,NaN,NaN
85,85,Bogota,Colombia,16.0,15.0,11.0,1.0,0,NaN,NaN,NaN,0.0,16.0,NaN,NaN,NaN
86,86,Buenos Aires,Argentina,82.0,70.0,11.0,1.0,0,NaN,NaN,NaN,0.0,82.0,NaN,NaN,NaN
87,87,Jersey City,United States,70.0,31.0,11.0,2.0,0,NaN,NaN,NaN,0.0,70.0,NaN,NaN,NaN
88,88,Kolkata,India,20.0,12.0,11.0,0.0,0,NaN,NaN,NaN,0.0,20.0,NaN,NaN,NaN
89,89,Lanzhou,China,12.0,11.0,11.0,7.0,1,NaN,NaN,NaN,0.0,12.0,NaN,NaN,NaN
90,90,Nagoya,Japan,12.0,11.0,11.0,4.0,0,NaN,NaN,NaN,1.0,13.0,NaN,NaN,NaN
91,91,Zhengzhou,China,12.0,11.0,11.0,8.0,0,NaN,NaN,NaN,1.0,14.0,NaN,NaN,NaN
92,92,Daejeon,South Korea,14.0,10.0,10.0,0.0,0,NaN,NaN,NaN,0.0,14.0,NaN,NaN,NaN
93,93,Dongguan,China,13.0,10.0,10.0,6.0,0,NaN,NaN,NaN,0.0,13.0,Guangdong,"112,297",NaN
94,94,Kawasaki,Japan,17.0,17.0,10.0,1.0,0,NaN,NaN,NaN,0.0,17.0,NaN,NaN,NaN
95,95,Montreal,Canada,54.0,47.0,10.0,2.0,0,NaN,NaN,NaN,1.0,56.0,NaN,NaN,NaN
96,96,Pittsburgh,United States,53.0,26.0,10.0,2.0,0,NaN,NaN,NaN,1.0,54.0,NaN,131222,131222.0
97,97,Taguig City,Philippines,43.0,25.0,10.0,3.0,0,NaN,NaN,NaN,0.0,43.0,NaN,NaN,NaN
98,98,Guiyang,China,12.0,12.0,9.0,27.0,2,1.0,NaN,NaN,0.0,12.0,NaN,NaN,NaN
99,99,Hanoi,Vietnam,34.0,21.0,9.0,4.0,1,NaN,NaN,NaN,0.0,34.0,NaN,NaN,NaN
100,100,Minneapolis,United States,55.0,27.0,9.0,4.0,0,NaN,NaN,NaN,1.0,56.0,NaN,226152,226152.0
101,101,Shijiazhuang,China,16.0,15.0,9.0,3.0,0,NaN,NaN,NaN,1.0,17.0,NaN,NaN,NaN
102,102,Sunny Isles Beach,United States,26.0,24.0,9.0,0.0,0,NaN,NaN,NaN,0.0,26.0,NaN,NaN,NaN
103,103,Balneario Camboriu,Brazil,38.0,21.0,8.0,0.0,0,NaN,NaN,NaN,0.0,38.0,NaN,NaN,NaN

In [137]:
tmp.to_csv('secondtry.csv')

In [139]:
thirdtry=pd.read_csv('secondtry.csv')
thirdtry.Country.value_counts()

China                   37
United States           16
South Korea              5
Saudi Arabia             4
Japan                    4
Australia                3
Canada                   3
Philippines              3
United Arab Emirates     3
India                    2
Thailand                 2
Brazil                   2
France                   2
Vietnam                  2
Indonesia                1
North Korea              1
Argentina                1
Kuwait                   1
Russia                   1
Bahrain                  1
Qatar                    1
Mexico                   1
Singapore                1
Israel                   1
Colombia                 1
Panama                   1
United Kingdom           1
Turkey                   1
Malaysia                 1
Germany                  1
Name: Country, dtype: int64